<%= form_for @user do |form| %>
  <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
  <% end %>
  
  <div>
    <%= form.label :username %>
    <%= form.text_field :username , placeholder: "bob" %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email, placeholder: "bob@bob.com" %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit "update" %>
  </div>
<% end %>
